/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
}

p,
ul,
li,
quote {
  font-size: 0.875rem;
  margin-bottom: 0.875rem;
  word-break: break-all;
}

a {
  text-decoration: underline;
}

li {
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

h2 {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.875rem;
  margin-top: 1rem;
}

h3 {
  font-weight: 600;
  margin-bottom: 0.875rem;
  margin-top: 1rem;
}

/* インラインのコード */
p code {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  background-color: #282c34;
  overflow: auto;
  color: #ccc;
  margin-bottom: 0;
  vertical-align: middle;
  white-space: pre;
  padding: 0.25rem 0.5rem;
  margin: 0px;
  font-size: 0.85rem;
  border-radius: 3px;
  line-height: 1.3;
  word-break: break-all;
  max-width: 100%;
}

figcaption {
  text-align: center;
  font-size: 0.875rem;
}

figure {
  max-width: 100%;
}

.youtube {
  max-height: 320px;
  max-width: 100%;
}

hr {
  margin: 2rem 0;
}

#__next {
  width: 100%;
}
